<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
        <title>מעשה בחמישה טייקונים</title>

        <!-- Show technical capabilities of rails -->
        <!-- using rails data in erb file and send it to JS -->
        <%= javascript_tag do %>
            window.wow = new Object;
            wow.items = <%=raw @items.to_json %>;
            wow.companies = <%=raw @companies.to_json %>;
            wow.family = <%=raw @family.to_json %>;
            wow.single = <%=raw @single.to_json %>;
            wow.couple = <%=raw @couple.to_json %>;


            wow.datalist = $( "<datalist id='items'></datalist");
            for (var i = 0; i < wow.items.length; i++) {
                $(wow.datalist).append("<option value='"+wow.items[i]+"'>");
            };            
        <% end %>

    </head>

    <body>

        <!--main-->
        <div data-role="page" id="main">
            <!-- /header -->
            <div data-role="header" class="main__header_elm">
                <div class="main__header_shares fbShare"><img src="/assets/fb.png"></div>
                <div class="main__header_shares whatsapp"><img src="/assets/whatsapp.png"></div>
                <div class="main__header_shares email"><img src="/assets/share.png"></div>
            </div>

            <!-- /content -->
            <div role="main" class="main__content_elm">
                <div class="main__content_title">
                    <img src="/assets/bgil.png">
                </div>
                <div class="main__content_text">
                        <p>
                        הריכוזיות בשוק המזון הוא מושג המוכר לרובנו
                        אבל מה זה אומר?
                        <p>
                        איך היא עובדת?
                        ואיך זה נראה במקרר שלכם?
                        <p>
                        צלמו את המקרר , תייגו את המוצרים 
                        וגלו מי הטייקון שמסתתר במקרר שלכם
                    </div>
                <div class="main__content_arrow" id="startApp"><img src="/assets/arrowdown.png"></div>
            </div>  
        </div>

        <!--menu-->
       <div data-role="page" id="menu">
            <!-- /header -->
            <div data-role="header" class="page__header_stdelm">
                <h1>מעשה בחמישה טייקונים</h1>
             </div>

            <div role="main" class="menu__content_elm ui-content">
                <div class="menu__content_ref" id="addFridge">
                    <img src="/assets/addfrig.png">
                    <div class="overlay">המקרר שלי</div>
                </div>
                <div class="menu__content_ref" id="fridgeStudent">
                    <img src="/assets/student.jpg">
                    <div class="overlay">מקרר סטודנט</div>
                </div>
                <div class="menu__content_ref" id="fridgeCouple">
                    <img src="/assets/couple.jpg">
                    <div class="overlay">מקרר זוג</div>
                </div>
                <div class="menu__content_ref" id="fridgeFamliy">
                    <img src="/assets/family.png">
                    <div class="overlay">מקרר משפחתי</div>
                </div>
            </div><!-- /content -->

            <div data-role="footer" class="menu__footer_elm">
                <div class="main__header_shares fbShare"><img src="/assets/fbblue.png"></div>
                <div class="main__header_shares whatsapp"><img src="/assets/whatsappblue.png"></div>
                <div class="main__header_shares email"><img src="/assets/shareblue.png"></div>
            </div>
        </div>

        <!-- My Fridge -->
        <div data-role="page" id="myFridge">
            <div data-role="header" class="page__header_stdelm">
                <h1>מעשה בחמישה טייקונים</h1>
             </div>
            <div role="main" class="ui-content">
                <div id="myTags" class="page5__content_bg">
                    <img src="/assets/myfrige.jpg" class="taggd">
                </div>
            </div>
            <div data-role="footer" class="page__footer_elm">
                <div class="submitToGraphs">לתוצאות האמת</div>
            </div>
        </div>

        <!-- Family Refridgerator -->
        <div data-role="page" id="family">
            <div data-role="header" class="page__header_stdelm">
                <h1>מעשה בחמישה טייקונים</h1>
            </div>
            <div role="main" class="ui-content">
                <div id="fridgeFamliyTags" class="page5__content_bg">
                    <img src="/assets/family.png">
                </div>
            </div>
            <div data-role="footer" class="page__footer_elm">
                <div class="submitToGraphs">לתוצאות האמת</div>
            </div>
        </div>

        <!-- Student Refridgerator -->
        <div data-role="page" id="student">

            <div data-role="header" class="page__header_stdelm">
                <h1>מעשה בחמישה טייקונים</h1>
            </div>
            <div role="main" class="ui-content">
                <div id="fridgeStudentTags" class="page5__content_bg">
                    <img src="/assets/student.jpg">
                </div>
            </div>
            <div data-role="footer" class="page__footer_elm">
                <div class="submitToGraphs">לתוצאות האמת</div>
            </div>
        </div>

        <!-- couple Refridgerator -->
        <div data-role="page" id="couple">
            <div data-role="header" class="page__header_stdelm">
                <h1>מעשה בחמישה טייקונים</h1>
            </div>
            <div role="main" class="ui-content">
                <div id="fridgeCoupleTags" class="page5__content_bg">
                    <img src="/assets/couple.jpg">
                </div>
            </div>
            <div data-role="footer" class="page__footer_elm">
                <div class="submitToGraphs">לתוצאות האמת</div>
            </div>
        </div>

        <!--Page - graph-->
        <div data-role="page" id="graph">
            <div data-role="header" class="page__header_stdelm">
                <h1>נתונים לאן הלך הכסף שלנו</h1>
            </div>
            <div role="main" class="ui-content">
                <div id="resGraph"></div>
            </div>
            <div data-role="footer" class="menu__footer_elm">
                <div class="main__header_shares fbShare"><img src="/assets/fbblue.png"></div>
                <div class="main__header_shares whatsapp"><img src="/assets/whatsappblue.png"></div>
                <div class="main__header_shares email"><img src="/assets/shareblue.png"></div>
            </div>
        </div>

        <!--page my fridge camera DISABLED-->
        <div data-role="page" id="page3">

            <!-- /header -->
            <div data-role="header">
                <h1>Page Title</h1>
            </div>

            <!-- /content -->
            <div role="main" class="ui-content">
                <ul id="myTags">   
                </ul>
                <button class="submitToGraphs" type="button">submit</button>
                <div id="CamreShoot" class="ui-content">
                    <video id="video" class="ui-btn-a" data-theme="a" width="320" height="480" autoplay></video>
                    <canvas id="canvas" data-theme="a" width="640" height="480"></canvas>
                </div>
                
                <div class="ButtonCamre">
                    <!-- iPhone solution -->
                    <input class="ui-btn ui-btn-a" type="file" capture="camera" accept="image/*" id="iphoneSnap" name="camerainput" />
                    <!-- Android -->
                    <button class="ui-btn ui-btn-a" id="snap">Snap</button>
                    <button class="ui-btn ui-btn-b" id="snapAgain">SnapAgain</button>
                </div>
            </div>

            <!-- /footer -->
            <div data-role="footer">
                <h4>Page Footer</h4>
            </div>
        </div>
    </body>
</html>